* {
  box-sizing: border-box;
}

body {
    background-color: rgb(9, 9, 9);
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: dimgrey;
}

.navbar {
    display: flex;
    color: white;
    flex-direction: row;
    justify-content: left;
    align-items: top;
    height: 5rem;
    /*border: 1px, solid, white;*/
}

.page-title {
    text-align: center;
    display: flex;
    align-items: center;
}

.page-title.title{
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 4rem;
    margin: 1rem;
}

.page-title.subtitle {
    font-family: "Albert Sans", sans-serif;
    font-size: 2rem;
    justify-items: right;
}

/* Map CSS */

:root {
    --school-color: #0288D1;
  }
  
  /*
   * Optional: Makes the sample page fill the window.
   */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  /*
   * Always set the map height explicitly to define the size of the div element
   * that contains the map.
   */
  #map {
    height: 100%;
    width: 100%;
  }
  
  /*
   * Property styles in unhighlighted state.
   */
  .school {
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 50%;
    color: #263238;
    display: flex;
    font-size: 14px;
    gap: 15px;
    height: 40px;
    justify-content: center;
    padding: 10px;
    position: relative;
    position: relative;
    transition: all 0.3s ease-out;
    width: 40px;
  }
  
  .school::after {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid #FFFFFF;
    content: "";
    height: 0;
    left: 50%;
    position: absolute;
    top: 95%;
    transform: translate(-50%, -10%);
    transition: all 0.3s ease-out;
    width: 0px;
    z-index: 1;
  }
  
  .school .icon {
    align-items: center;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
  }
  
  .school .icon svg {
    height: 20px;
    width: auto;
  }
  
  .school .details {
    display: none;
    flex-direction: column;
    flex: 1;
  }

  .school .name {
    color: black;
  }
  
  .school .address {
    color: #9E9E9E;
    font-size: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
  }

  .school .description {
    color: #9E9E9E;
  }
  
  .school .requests {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  
  .school .requests > div {
    align-items: center;
    background: #F5F5F5;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: flex;
    font-size: 10px;
    gap: 5px;
    padding: 5px;
  }
  
  /*
   * Property styles in highlighted state.
   */
  .school.highlight {
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    height: 300px;
    padding: 8px 15px;
    width: auto;
  }
  
  .school.highlight::after {
    border-top: 9px solid #FFFFFF;
  }
  
  .school.highlight .details {
    display: flex;
  }
  
  .school.highlight .icon svg {
    width: 50px;
    height: 50px;
  }
  
  /*
   * House icon colors.
   */
  .school.highlight:has(.fa-school) .icon {
    color: var(--school-color);
  }
  
  .school:not(.highlight):has(.fa-school) {
    background-color: var(--school-color);
  }
  
  .school:not(.highlight):has(.fa-school)::after {
    border-top: 9px solid var(--school-color);
  }